packages: [
  "atom-beautify"
  "atom-material-syntax"
  "atom-material-ui"
  "batman-syntax"
  "clipboard-plus"
  "color-picker"
  "docblockr"
  "emmet"
  "file-icons"
  "git-plus"
  "highlight-column"
  "highlight-selected"
  "javascript-snippets"
  "linter"
  "linter-jshint"
  "merge-conflicts"
  "minimap"
  "minimap-highlight-selected"
  "monokai"
  "nucleus-dark-ui"
  "package-sync"
  "pigments"
  "project-manager"
  "set-syntax"
  "seti-ui"
  "sort-lines"
]
